<nav class="navbar">
  <div class="nav-item">
    <%= render partial: "shared/burger" %>
  </div>

  <div class="nav-item"> 
    <h2>Groups</h2>
  </div>

  <div class="nav-item">
    <img src="https://www.pngall.com/wp-content/uploads/13/Search-Button-White-PNG.png" alt="search" class="search">
  </div>
</nav>

<div id="groups" class="rounded-full border-indigo-500/100">
  <% @groups.each do |group| %>
    <p>
      <%= link_to group.name, group %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path%>
