<nav class="bg-blue-700 p-4 relative">
  <div class="container mx-auto flex items-center justify-between">
    <div>
      <%= link_to "Back to groups", groups_path %>
    </div>

    <div> 
      <h2>Transactions</h2>
    </div>

    <div>
      <img src="https://www.pngall.com/wp-content/uploads/13/Search-Button-White-PNG.png" alt="search"  width="50" height="80">
    </div>
  </div>
</nav>

<%= link_to "New transaction", new_group_purchase_path(@group)%>
