<div class="flex items-center justify-center min-h-screen font-semibold">
  <div class="text-4xl text-center">
    <h1>Salty Budget</h1>
  </div>
</div>
<div class="fixed inset-x-0 bottom-0 flex flex-col items-center">
  <%= link_to new_user_session_path do %>
    <div class="w-60 p-4 text-center hover:bg-[#3778c2] hover:text-white">
      Log In
    </div>
  <% end %> 
  <%= link_to new_user_registration_path do%>
    <div class="w-60 p-4 text-center hover:bg-[#3778c2] hover:text-white">
      Sign up
    </div>
  <% end %>
</div>