
  <div class="title">
    <h1>Salty Budget App</h1>
  </div>
  <div class="sign">
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
