/* Universal CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #434b54;
}

a {
  text-decoration: none;
  color: black;
}

/* Sign-in homepage */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  border: 2px solid #000;
}

.sign > * {
  padding: 0.5em 0;
}